<%- include("partials/header") %>

<div class="content">
    <div class="profile-panel-container">
        <div class="profile-options-bar">
            <ul>
                <li class="option-selected">
                    <a href="/profile/<%=foundUser.id%>">Overview</a><i class="ion-ios-person-outline option-icon"></i>
                </li>
                <li>
                    <a href="/profile/<%=foundUser.id%>/edit/personal_info">Personal Info</a><i class="ion-clipboard option-icon"></i>
                </li>
                <li>
                    <a href="/profile/<%=foundUser.id%>/edit/profile_picture">Profile Picutre</a><i class="ion-image option-icon"></i>
                </li>
                <li>
                    <a href="/profile/<%=foundUser.id%>/edit/hobbies">Hobbies</a><i class="ion-ios-game-controller-a-outline option-icon"></i>
                </li>
            </ul>
        </div>

        <div class="profile-panel">
            <h1>Welcome <%=username%>!</h1>
            
            <div class="row">
                <a href="/profile/<%=foundUser.id%>/edit/profile_picture"><img class="profile-picture-large" src="/imgs/Photo.jpg"></a>
            </div>

            <div class="row">
                
                <div class="col-50 profile-label">
                    <% if(foundUser.firstName){ %>
                        <span class="profile-label-type"><p>First Name</p></span><span class="profile-label-info"><p> <%= foundUser.firstName %></p></span>
                    <% }else{ %>
                        <span class="profile-label-type"><p>First Name</p></span><span class="profile-label-info"><p> Not entered extended</p></span>
                    <% } %>
                </div>

                <div class="col-50 profile-label">
                    <% if(foundUser.lastName){ %>
                        <span class="profile-label-type"><p>Last Name</p></span><span class="profile-label-info"><p> <%= foundUser.lastName %></p></span>
                    <% }else{ %>
                        <span class="profile-label-type"><p>Last Name</p></span><span class="profile-label-info"><p> Not entered extended</p></span>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col-50 profile-label">
                    <% if(foundUser.eMail){ %>
                        <span class="profile-label-type"><p>E-mail</p></span><span class="profile-label-info"><p> <%= foundUser.eMail %></p></span>
                    <% }else{ %>
                        <span class="profile-label-type"><p>E-mail</p></span><span class="profile-label-info"><p> Not entered extended</p></span>
                    <% } %>
                </div>

                <div class="col-50 profile-label">
                    <% if(foundUser.status === true){ %>
                        <span class="profile-label-type"><p>Status</p></span><span class="profile-label-info"><p>In good standing</p></span>
                    <% }else{ %>
                        <span class="profile-label-type"><p>Status</p></span><span class="profile-label-info"><p>Privliages revoked</p></span>
                    <% } %>
                </div>
            </div>
            <div class="row push-bottom">
                <div class="col-50">
                    <p id="delete-label">Delete Profile?</p>
                    <button class="delete-btn">Delete</button>
                </div>
            </div>
        
    
            <div class="row">
                <div class="disclaimer">
                    <h2>Please do not use any personal or sensitive information and this site is for demonstration purposes only. It is strongly recommended that you use plfaceholder information to save to the site. Thanks!</h2>
                </div>
            </div>
        </div>
    
    </div>
</div>

<%- include("partials/footer") %>

